# Core
streamlit>=1.47
pandas>=2.2
numpy>=1.26

# Stats + plotting
statsmodels>=0.14
scikit-learn>=1.4
seaborn>=0.13
matplotlib>=3.8
plotly>=6.0
openpyxl>=3.1

# If you use this custom component
git+https://github.com/scwgh/stats_veritas@e24fe6a3e5c0c43ae6d44c61637bd6d64bb6f497#egg=streamlit_custom_component&subdirectory=my_component
